.cont{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    color: white;
}
.contain-contact {
    position: relative;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.contact {
    position: relative;
    width: 55%;
    background-color:#0b2b26;
    border-radius: 15px;
    box-shadow: white;
    height: 75vh;
}

.contact-con{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 10%;
    gap: 1.5rem;
}

.contact h2{
    position: relative;
    color: hsl(156deg 100% 50%);
    font-weight: 600;
    font-size: 2rem;
}

.contact p{
    color: hsla(0, 0%, 100%, .6);
    font-size: 1rem;
    text-align: center;
    width: 80%;
}
.link:hover{
    border-bottom: 2px solid hsl(156deg 100% 50%);
}

.formSent{
    width: 100%;
}

.personal-data{
    margin: auto;
    width: 90%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.personal-data input{
    width: 46%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    color: hsla(0, 0%, 100%, .6);
    border: none;
}

.asunto{
    width: 85%;
    position: relative;
    left: 8%;
    height: 50px;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 10px;
    color: hsla(0, 0%, 100%, .6);
}

.message{
    width: 85%;
    position: relative;
    left: 8%;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 10px;
    color: hsla(0, 0%, 100%, .6);
    height: 25vh;
    display: flex;
    align-items: center;
}
.containerButton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.sent{
    background-color: hsl(156deg 100% 50%);
    margin-top: 1rem;
    color: black;
    font-weight: 600;
    width: 80px;
    height: 35px;
    border-radius: 8px;
}
.formas-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.containerCon a {
    display: flex;
    align-items: center;
}
.link {
    margin-left: 1.5rem;
    color: hsla(0, 0%, 100%, .6);
}

.iconContainer {
    background-color: #0b2b26;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.containerCon svg {
    width: 60px;
    height: 60px;
    color: hsl(156deg 100% 50%);
}
.containerCon svg:hover {
    transform: scale(1.1);
    transition: 1s;
    color: hsla(0, 0%, 100%, .6);
}

.sent:hover{
    background-color: aqua;
}
.formSent input {
    background-color: #051F20;
    border: none;
}
.formSent textarea {
  background-color: #051F20;
  border: none;
  resize: none;
}


@media (max-width: 600px) {
    .contact {
      width: 90%;
      height: 75vh;
    }
    .back{
        left: 4%;
        display: flex;
        top: -20px;
    }
  }
  