.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: #051F20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    z-index: 50;
}

.name {
    font-size: 2.25rem;
    font-weight: bold;
}

.navRigth{
    display: flex;
    gap: 1rem;
}

.sections {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: larger;
    font-weight: 500;
    margin-right: 1rem;
}

.sections2 {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: larger;
    font-weight: 500;
    margin-right: 1rem;
}

.languaje input{
    background-color: transparent;
}

.sect {
    cursor: pointer;
}

.sect:hover {
    color: hsl(156deg 100% 50%);
    border-bottom: 3px solid hsl(156deg 100% 50%);
}
