
.About{
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 10rem;
    justify-content: space-around;
}

.photo {
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, #2f7d6b, #1c3c35); /* degradado más claro */
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(4px); /* efecto vidriado */
    box-shadow: 0 0 12px rgba(0, 255, 180, 0.4); /* brillo neón inicial */
}

.photo:hover {
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 0 0 20px rgba(0, 255, 180, 0.8); /* brillo más intenso */
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    image-rendering: pixelated; 
}


.about-text{
    color: aliceblue;
    text-align: left;
    width: 35%;
    font-size: 1.1rem;
}

.rol {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.saludo {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.saludo strong {
    color: hsl(156deg 100% 50%);
    font-weight: bold;
}

.eslogan {
    margin-bottom: 1.25rem;
}

.icons {
    width: 200px;
    display: flex;
    gap: 2rem;
}

.linkedn, .github {
    border: 1px solid hsl(156deg 100% 50%);
    color: hsl(156deg 100% 50%);
    padding: 7px;
    border-radius: 100%;
}

.linkedn:hover, .github:hover {
    transform: scale(1.1);
    transition: 1s;
    color: #051F20;
    border: #051F20;
    background-color: hsl(156deg 100% 50%);
}